In [25]:
from sqlite3 import connect

cnx = connect("chinook.db")

cursor = cnx.cursor()

stmt = 'SELECT firstname, lastname, country FROM customers;'

cursor.execute(stmt)

result = cursor.fetchall()

print(result)

[('Luís', 'Gonçalves', 'Brazil'), ('Leonie', 'Köhler', 'Germany'), ('François', 'Tremblay', 'Canada'), ('Bjørn', 'Hansen', 'Norway'), ('František', 'Wichterlová', 'Czech Republic'), ('Helena', 'Holý', 'Czech Republic'), ('Astrid', 'Gruber', 'Austria'), ('Daan', 'Peeters', 'Belgium'), ('Kara', 'Nielsen', 'Denmark'), ('Eduardo', 'Martins', 'Brazil'), ('Alexandre', 'Rocha', 'Brazil'), ('Roberto', 'Almeida', 'Brazil'), ('Fernanda', 'Ramos', 'Brazil'), ('Mark', 'Philips', 'Canada'), ('Jennifer', 'Peterson', 'Canada'), ('Frank', 'Harris', 'USA'), ('Jack', 'Smith', 'USA'), ('Michelle', 'Brooks', 'USA'), ('Tim', 'Goyer', 'USA'), ('Dan', 'Miller', 'USA'), ('Kathy', 'Chase', 'USA'), ('Heather', 'Leacock', 'USA'), ('John', 'Gordon', 'USA'), ('Frank', 'Ralston', 'USA'), ('Victor', 'Stevens', 'USA'), ('Richard', 'Cunningham', 'USA'), ('Patrick', 'Gray', 'USA'), ('Julia', 'Barnett', 'USA'), ('Robert', 'Brown', 'Canada'), ('Edward', 'Francis', 'Canada'), ('Martha', 'Silk', 'Canada'), ('Aaron', 'Mitchell', 'Canada'), ('Ellie', 'Sullivan', 'Canada'), ('João', 'Fernandes', 'Portugal'), ('Madalena', 'Sampaio', 'Portugal'), ('Hannah', 'Schneider', 'Germany'), ('Fynn', 'Zimmermann', 'Germany'), ('Niklas', 'Schröder', 'Germany'), ('Camille', 'Bernard', 'France'), ('Dominique', 'Lefebvre', 'France'), ('Marc', 'Dubois', 'France'), ('Wyatt', 'Girard', 'France'), ('Isabelle', 'Mercier', 'France'), ('Terhi', 'Hämäläinen', 'Finland'), ('Ladislav', 'Kovács', 'Hungary'), ('Hugh', "O'Reilly", 'Ireland'), ('Lucas', 'Mancini', 'Italy'), ('Johannes', 'Van der Berg', 'Netherlands'), ('Stanisław', 'Wójcik', 'Poland'), ('Enrique', 'Muñoz', 'Spain'), ('Joakim', 'Johansson', 'Sweden'), ('Emma', 'Jones', 'United Kingdom'), ('Phil', 'Hughes', 'United Kingdom'), ('Steve', 'Murray', 'United Kingdom'), ('Mark', 'Taylor', 'Australia'), ('Diego', 'Gutiérrez', 'Argentina'), ('Luis', 'Rojas', 'Chile'), ('Manoj', 'Pareek', 'India'), ('Puja', 'Srivastava', 'India')]

In [30]:
with connect("chinook.db") as cnx:
    cursor = cnx.cursor()
    stmt = 'SELECT firstname, lastname, country FROM customers;'
    cursor.execute(stmt)
    result = cursor.fetchall()
    
print(result)

[('Luís', 'Gonçalves', 'Brazil'), ('Leonie', 'Köhler', 'Germany'), ('François', 'Tremblay', 'Canada'), ('Bjørn', 'Hansen', 'Norway'), ('František', 'Wichterlová', 'Czech Republic'), ('Helena', 'Holý', 'Czech Republic'), ('Astrid', 'Gruber', 'Austria'), ('Daan', 'Peeters', 'Belgium'), ('Kara', 'Nielsen', 'Denmark'), ('Eduardo', 'Martins', 'Brazil'), ('Alexandre', 'Rocha', 'Brazil'), ('Roberto', 'Almeida', 'Brazil'), ('Fernanda', 'Ramos', 'Brazil'), ('Mark', 'Philips', 'Canada'), ('Jennifer', 'Peterson', 'Canada'), ('Frank', 'Harris', 'USA'), ('Jack', 'Smith', 'USA'), ('Michelle', 'Brooks', 'USA'), ('Tim', 'Goyer', 'USA'), ('Dan', 'Miller', 'USA'), ('Kathy', 'Chase', 'USA'), ('Heather', 'Leacock', 'USA'), ('John', 'Gordon', 'USA'), ('Frank', 'Ralston', 'USA'), ('Victor', 'Stevens', 'USA'), ('Richard', 'Cunningham', 'USA'), ('Patrick', 'Gray', 'USA'), ('Julia', 'Barnett', 'USA'), ('Robert', 'Brown', 'Canada'), ('Edward', 'Francis', 'Canada'), ('Martha', 'Silk', 'Canada'), ('Aaron', 'Mitchell', 'Canada'), ('Ellie', 'Sullivan', 'Canada'), ('João', 'Fernandes', 'Portugal'), ('Madalena', 'Sampaio', 'Portugal'), ('Hannah', 'Schneider', 'Germany'), ('Fynn', 'Zimmermann', 'Germany'), ('Niklas', 'Schröder', 'Germany'), ('Camille', 'Bernard', 'France'), ('Dominique', 'Lefebvre', 'France'), ('Marc', 'Dubois', 'France'), ('Wyatt', 'Girard', 'France'), ('Isabelle', 'Mercier', 'France'), ('Terhi', 'Hämäläinen', 'Finland'), ('Ladislav', 'Kovács', 'Hungary'), ('Hugh', "O'Reilly", 'Ireland'), ('Lucas', 'Mancini', 'Italy'), ('Johannes', 'Van der Berg', 'Netherlands'), ('Stanisław', 'Wójcik', 'Poland'), ('Enrique', 'Muñoz', 'Spain'), ('Joakim', 'Johansson', 'Sweden'), ('Emma', 'Jones', 'United Kingdom'), ('Phil', 'Hughes', 'United Kingdom'), ('Steve', 'Murray', 'United Kingdom'), ('Mark', 'Taylor', 'Australia'), ('Diego', 'Gutiérrez', 'Argentina'), ('Luis', 'Rojas', 'Chile'), ('Manoj', 'Pareek', 'India'), ('Puja', 'Srivastava', 'India')]

In [32]:
with connect("chinook.db") as cnx:
    cursor = cnx.cursor()
    stmt = 'SELECT firstname, lastname, country FROM customers;'
    cursor.execute(stmt)
    result = cursor.fetchone()
    while(result):
        print(result)
        result = cursor.fetchone()

('Luís', 'Gonçalves', 'Brazil')
('Leonie', 'Köhler', 'Germany')
('François', 'Tremblay', 'Canada')
('Bjørn', 'Hansen', 'Norway')
('František', 'Wichterlová', 'Czech Republic')
('Helena', 'Holý', 'Czech Republic')
('Astrid', 'Gruber', 'Austria')
('Daan', 'Peeters', 'Belgium')
('Kara', 'Nielsen', 'Denmark')
('Eduardo', 'Martins', 'Brazil')
('Alexandre', 'Rocha', 'Brazil')
('Roberto', 'Almeida', 'Brazil')
('Fernanda', 'Ramos', 'Brazil')
('Mark', 'Philips', 'Canada')
('Jennifer', 'Peterson', 'Canada')
('Frank', 'Harris', 'USA')
('Jack', 'Smith', 'USA')
('Michelle', 'Brooks', 'USA')
('Tim', 'Goyer', 'USA')
('Dan', 'Miller', 'USA')
('Kathy', 'Chase', 'USA')
('Heather', 'Leacock', 'USA')
('John', 'Gordon', 'USA')
('Frank', 'Ralston', 'USA')
('Victor', 'Stevens', 'USA')
('Richard', 'Cunningham', 'USA')
('Patrick', 'Gray', 'USA')
('Julia', 'Barnett', 'USA')
('Robert', 'Brown', 'Canada')
('Edward', 'Francis', 'Canada')
('Martha', 'Silk', 'Canada')
('Aaron', 'Mitchell', 'Canada')
('Ellie', 'Sullivan', 'Canada')
('João', 'Fernandes', 'Portugal')
('Madalena', 'Sampaio', 'Portugal')
('Hannah', 'Schneider', 'Germany')
('Fynn', 'Zimmermann', 'Germany')
('Niklas', 'Schröder', 'Germany')
('Camille', 'Bernard', 'France')
('Dominique', 'Lefebvre', 'France')
('Marc', 'Dubois', 'France')
('Wyatt', 'Girard', 'France')
('Isabelle', 'Mercier', 'France')
('Terhi', 'Hämäläinen', 'Finland')
('Ladislav', 'Kovács', 'Hungary')
('Hugh', "O'Reilly", 'Ireland')
('Lucas', 'Mancini', 'Italy')
('Johannes', 'Van der Berg', 'Netherlands')
('Stanisław', 'Wójcik', 'Poland')
('Enrique', 'Muñoz', 'Spain')
('Joakim', 'Johansson', 'Sweden')
('Emma', 'Jones', 'United Kingdom')
('Phil', 'Hughes', 'United Kingdom')
('Steve', 'Murray', 'United Kingdom')
('Mark', 'Taylor', 'Australia')
('Diego', 'Gutiérrez', 'Argentina')
('Luis', 'Rojas', 'Chile')
('Manoj', 'Pareek', 'India')
('Puja', 'Srivastava', 'India')

In [33]:
with connect("chinook.db") as cnx:
    cursor = cnx.cursor()
    stmt = 'SELECT firstname, lastname, country FROM customers;'
    cursor.execute(stmt)
    result = cursor.fetchmany(3)
    while(result):
        print(result)
        result = cursor.fetchmany(3)

[('Luís', 'Gonçalves', 'Brazil'), ('Leonie', 'Köhler', 'Germany'), ('François', 'Tremblay', 'Canada')]
[('Bjørn', 'Hansen', 'Norway'), ('František', 'Wichterlová', 'Czech Republic'), ('Helena', 'Holý', 'Czech Republic')]
[('Astrid', 'Gruber', 'Austria'), ('Daan', 'Peeters', 'Belgium'), ('Kara', 'Nielsen', 'Denmark')]
[('Eduardo', 'Martins', 'Brazil'), ('Alexandre', 'Rocha', 'Brazil'), ('Roberto', 'Almeida', 'Brazil')]
[('Fernanda', 'Ramos', 'Brazil'), ('Mark', 'Philips', 'Canada'), ('Jennifer', 'Peterson', 'Canada')]
[('Frank', 'Harris', 'USA'), ('Jack', 'Smith', 'USA'), ('Michelle', 'Brooks', 'USA')]
[('Tim', 'Goyer', 'USA'), ('Dan', 'Miller', 'USA'), ('Kathy', 'Chase', 'USA')]
[('Heather', 'Leacock', 'USA'), ('John', 'Gordon', 'USA'), ('Frank', 'Ralston', 'USA')]
[('Victor', 'Stevens', 'USA'), ('Richard', 'Cunningham', 'USA'), ('Patrick', 'Gray', 'USA')]
[('Julia', 'Barnett', 'USA'), ('Robert', 'Brown', 'Canada'), ('Edward', 'Francis', 'Canada')]
[('Martha', 'Silk', 'Canada'), ('Aaron', 'Mitchell', 'Canada'), ('Ellie', 'Sullivan', 'Canada')]
[('João', 'Fernandes', 'Portugal'), ('Madalena', 'Sampaio', 'Portugal'), ('Hannah', 'Schneider', 'Germany')]
[('Fynn', 'Zimmermann', 'Germany'), ('Niklas', 'Schröder', 'Germany'), ('Camille', 'Bernard', 'France')]
[('Dominique', 'Lefebvre', 'France'), ('Marc', 'Dubois', 'France'), ('Wyatt', 'Girard', 'France')]
[('Isabelle', 'Mercier', 'France'), ('Terhi', 'Hämäläinen', 'Finland'), ('Ladislav', 'Kovács', 'Hungary')]
[('Hugh', "O'Reilly", 'Ireland'), ('Lucas', 'Mancini', 'Italy'), ('Johannes', 'Van der Berg', 'Netherlands')]
[('Stanisław', 'Wójcik', 'Poland'), ('Enrique', 'Muñoz', 'Spain'), ('Joakim', 'Johansson', 'Sweden')]
[('Emma', 'Jones', 'United Kingdom'), ('Phil', 'Hughes', 'United Kingdom'), ('Steve', 'Murray', 'United Kingdom')]
[('Mark', 'Taylor', 'Australia'), ('Diego', 'Gutiérrez', 'Argentina'), ('Luis', 'Rojas', 'Chile')]
[('Manoj', 'Pareek', 'India'), ('Puja', 'Srivastava', 'India')]