In [1]:
import pandas as pd

df = pd.read_csv("cars.csv")

In [2]:
df.head(3)

,price,currency,brand,body,engine_vol,fuel,drive,power,gearbox_is_manual,prod_year,orig_country,mileage,color,title,offer_timestamp
0,32900,PLN,Škoda,Sedan,1598.0,Diesel,Przód,115.0,True,2017,Polska,175000.0,Srebrny,Škoda RAPID,2021-02-28 12:53:00
1,32500,PLN,BMW,Kompakt,1598.0,Diesel,Tył,116.0,True,2012,NaN,228000.0,Biały,BMW Seria 1 116d,2021-02-28 12:52:00
2,7900,PLN,Fiat,Auta małe,1242.0,Benzyna,Przód,69.0,True,2012,Polska,2610000.0,Szary,Fiat Panda 1.2,2021-02-28 12:50:00

In [3]:
pd.__version__

'2.0.3'

In [4]:
df.shape

(100000, 15)

In [5]:
len(df)

100000

In [6]:
df.columns

Index(['price', 'currency', 'brand', 'body', 'engine_vol', 'fuel', 'drive',
       'power', 'gearbox_is_manual', 'prod_year', 'orig_country', 'mileage',
       'color', 'title', 'offer_timestamp'],
      dtype='object')

In [7]:
df.index

RangeIndex(start=0, stop=100000, step=1)

In [8]:
df.dtypes

price                  int64
currency              object
brand                 object
body                  object
engine_vol           float64
fuel                  object
drive                 object
power                float64
gearbox_is_manual     object
prod_year              int64
orig_country          object
mileage              float64
color                 object
title                 object
offer_timestamp       object
dtype: object

In [9]:
df.isna().sum()

price                    0
currency                 0
brand                    0
body                     0
engine_vol             699
fuel                     0
drive                19919
power                  672
gearbox_is_manual      607
prod_year                0
orig_country         44509
mileage                172
color                    0
title                    0
offer_timestamp          0
dtype: int64

In [10]:
pd.isnull(None)

True

In [11]:
df.describe()

              price    engine_vol         power      prod_year       mileage
count  1.000000e+05  99301.000000  99328.000000  100000.000000  9.982800e+04
mean   3.949909e+04   1802.313904    136.591575    2010.935530  1.594466e+05
std    1.432028e+05    598.744998     54.965202       5.820637  4.091146e+05
min    5.850000e+02    400.000000      1.000000    1900.000000  1.000000e+00
25%    1.540000e+04   1461.000000    102.000000    2007.000000  9.346000e+04
50%    2.690000e+04   1686.000000    129.000000    2011.000000  1.600045e+05
75%    4.950000e+04   1995.000000    150.000000    2015.000000  2.150770e+05
max    1.432083e+07   8200.000000   1203.000000    2021.000000  1.234568e+08

In [12]:
df.memory_usage()

Index                   128
price                800000
currency             800000
brand                800000
body                 800000
engine_vol           800000
fuel                 800000
drive                800000
power                800000
gearbox_is_manual    800000
prod_year            800000
orig_country         800000
mileage              800000
color                800000
title                800000
offer_timestamp      800000
dtype: int64

In [13]:
df.memory_usage().sum()

12000128

In [14]:
pd.set_option("display.float_format", "{:.4f}".format)

In [15]:
df.describe()

              price  engine_vol      power   prod_year        mileage
count   100000.0000  99301.0000 99328.0000 100000.0000     99828.0000
mean     39499.0895   1802.3139   136.5916   2010.9355    159446.6398
std     143202.8489    598.7450    54.9652      5.8206    409114.6012
min        585.0000    400.0000     1.0000   1900.0000         1.0000
25%      15400.0000   1461.0000   102.0000   2007.0000     93460.0000
50%      26900.0000   1686.0000   129.0000   2011.0000    160004.5000
75%      49500.0000   1995.0000   150.0000   2015.0000    215077.0000
max   14320827.0000   8200.0000  1203.0000   2021.0000 123456789.0000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   price              100000 non-null  int64
 1   currency           100000 non-null  object
 2   brand              100000 non-null  object
 3   body               100000 non-null  object
 4   engine_vol         99301 non-null   float64
 5   fuel               100000 non-null  object
 6   drive              80081 non-null   object
 7   power              99328 non-null   float64
 8   gearbox_is_manual  99393 non-null   object
 9   prod_year          100000 non-null  int64
 10  orig_country       55491 non-null   object
 11  mileage            99828 non-null   float64
 12  color              100000 non-null  object
 13  title              100000 non-null  object
 14  offer_timestamp    100000 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 11.4+ MB

In [17]:
df.iloc[71145]

price                                585
currency                             PLN
brand                               Fiat
body                             Kompakt
engine_vol                      999.0000
fuel                             Benzyna
drive                              Przód
power                           100.0000
gearbox_is_manual                   True
prod_year                           2021
orig_country                      Polska
mileage                           1.0000
color                            Srebrny
title                      Fiat Tipo 1.0
offer_timestamp      2021-04-07 14:24:00
Name: 71145, dtype: object

In [18]:
df.columns

Index(['price', 'currency', 'brand', 'body', 'engine_vol', 'fuel', 'drive',
       'power', 'gearbox_is_manual', 'prod_year', 'orig_country', 'mileage',
       'color', 'title', 'offer_timestamp'],
      dtype='object')

In [19]:
smaller_df = df[["fuel", "price", "mileage", "brand"]]
smaller_df["price"].idxmin()

71145

In [20]:
smaller_df.iloc[71145]

fuel       Benzyna
price          585
mileage     1.0000
brand         Fiat
Name: 71145, dtype: object

In [21]:
timestamps = df["offer_timestamp"]

In [22]:
timestamps

0        2021-02-28 12:53:00
1        2021-02-28 12:52:00
2        2021-02-28 12:50:00
3        2021-02-28 12:57:00
4        2021-02-28 12:50:00
                ...
99995    2021-04-21 14:58:00
99996    2021-04-21 19:45:00
99997    2021-04-21 15:53:00
99998    2021-04-21 13:42:00
99999    2021-04-21 13:03:00
Name: offer_timestamp, Length: 100000, dtype: object

In [23]:
sorted_smaller = list(smaller_df["price"])
type(sorted_smaller)

list

In [24]:
print(sorted_smaller.sort)

<built-in method sort of list object at 0x000001E749A0C7C0>

In [25]:
sorted_smaller = zip(sorted_smaller)
sorted_smaller

In [26]:
df[["title", "offer_timestamp"]][6:12]

                    title      offer_timestamp
6      Renault Kadjar 1.3  2021-02-28 12:56:00
7        Dacia Dokker Van  2021-02-28 12:57:00
8       Opel Insignia 2.0  2021-02-28 12:53:00
9   Volkswagen Tiguan 2.0  2021-02-28 12:57:00
10      Opel Insignia 2.0  2021-02-28 12:56:00
11        Peugeot 407 2.0  2021-02-28 12:49:00

In [27]:
df.select_dtypes(object)

,currency,brand,body,fuel,drive,gearbox_is_manual,orig_country,color,title,offer_timestamp
0,PLN,Škoda,Sedan,Diesel,Przód,True,Polska,Srebrny,Škoda RAPID,2021-02-28 12:53:00
1,PLN,BMW,Kompakt,Diesel,Tył,True,NaN,Biały,BMW Seria 1 116d,2021-02-28 12:52:00
2,PLN,Fiat,Auta małe,Benzyna,Przód,True,Polska,Szary,Fiat Panda 1.2,2021-02-28 12:50:00
3,PLN,Kia,SUV,Diesel,Przód,True,Niemcy,Szary,Kia Sportage 1.7,2021-02-28 12:57:00
4,PLN,Kia,SUV,Diesel,Przód,True,NaN,Biały,Kia Sportage,2021-02-28 12:50:00
...,...,...,...,...,...,...,...,...,...,...
99995,PLN,Ford,Kombi,Diesel,Przód,True,NaN,Srebrny,Ford Focus,2021-04-21 14:58:00
99996,PLN,Audi,Kombi,Benzyna,Przód,True,Niemcy,Niebieski,Audi A4 Avant,2021-04-21 19:45:00
99997,PLN,BMW,Sedan,Diesel,Tył,False,NaN,Inny kolor,BMW Seria 7 740d,2021-04-21 15:53:00
99998,PLN,Peugeot,Auta małe,Benzyna,Przód,True,NaN,Biały,Peugeot 208 PureTech,2021-04-21 13:42:00
99999,PLN,Volkswagen,Sedan,Benzyna,Przód,True,Szwajcaria,Szary,Volkswagen Touran 1.4,2021-04-21 13:03:00

In [28]:
df[["drive", "brand"]].value_counts()

drive  brand
Przód  Opel          8078
       Volkswagen    7513
       Ford          6893
       Renault       4980
       Toyota        4678
                     ...
Tył    Lotus            1
       Daihatsu         1
       Ferrari          1
Przód  Saturn           1
Tył    Abarth           1
Name: count, Length: 119, dtype: int64

In [29]:
pd.crosstab(df["drive"], df["brand"])

brand,Abarth,Acura,Aixam,Alfa Romeo,Aston Martin,Audi,BMW,Buick,Cadillac,Casalini,...,Tata,Tesla,Toyota,Triumph,Vauxhall,Volkswagen,Volvo,Wartburg,Wołga,Škoda
drive,,,,,,,,,,,,,,,,,,,,,
Przód,13,1,27,497,0,4531,250,4,11,1,...,0,0,4678,0,3,7513,1971,1,0,4433
Tył,1,0,0,23,1,6,4340,2,7,2,...,1,2,13,1,0,28,13,0,1,5

In [30]:
pd.crosstab(df["drive"], df["brand"], normalize=True)

brand,Abarth,Acura,Aixam,Alfa Romeo,Aston Martin,Audi,BMW,Buick,Cadillac,Casalini,...,Tata,Tesla,Toyota,Triumph,Vauxhall,Volkswagen,Volvo,Wartburg,Wołga,Škoda
drive,,,,,,,,,,,,,,,,,,,,,
Przód,0.0002,0.0000,0.0003,0.0062,0.0000,0.0566,0.0031,0.0000,0.0001,0.0000,...,0.0000,0.0000,0.0584,0.0000,0.0000,0.0938,0.0246,0.0000,0.0000,0.0554
Tył,0.0000,0.0000,0.0000,0.0003,0.0000,0.0001,0.0542,0.0000,0.0001,0.0000,...,0.0000,0.0000,0.0002,0.0000,0.0000,0.0003,0.0002,0.0000,0.0000,0.0001

In [31]:
brand = df["brand"]
set_brand = set(brand)
len(set_brand)

90

In [32]:
body = df["body"]

In [33]:
df["body"].value_counts().index[0]

'Kombi'

In [34]:
for column in ["brand", "drive", "body"]:
    print(df[column].nunique())

90
2
10

In [35]:
for column in ["brand", "drive", "body"]:
    print(df[column].value_counts(), "\n")

brand
Volkswagen    9097
Opel          9018
Ford          8307
Audi          7206
BMW           6709
              ...
Baic             1
Shuanghuan       1
Mercury          1
Talbot           1
Tarpan           1
Name: count, Length: 90, dtype: int64

drive
Przód    72478
Tył       7603
Name: count, dtype: int64

body
Kombi            19950
SUV              17456
Kompakt          16997
Sedan            14189
Auta miejskie    13674
Minivan          11420
Auta małe         3098
Coupe             2285
Kabriolet          930
Pick-up              1
Name: count, dtype: int64

In [36]:
df[df["prod_year"] == 2012]["body"].value_counts()

body
Kombi            1238
SUV              1039
Kompakt           952
Minivan           775
Auta miejskie     760
Sedan             698
Auta małe         168
Coupe             131
Kabriolet          26
Name: count, dtype: int64

In [37]:
df[df["brand"] == "Mercedes-Benz"]["title"]

17           Mercedes-Benz CLK 320
28       Mercedes-Benz Klasa E 320
63       Mercedes-Benz Klasa A 160
79           Mercedes-Benz CLA 180
80       Mercedes-Benz Klasa S 320
                   ...
99842    Mercedes-Benz Klasa B 170
99844    Mercedes-Benz Klasa C 200
99851    Mercedes-Benz Klasa A 150
99913             Mercedes-Benz ML
99922             Mercedes-Benz ML
Name: title, Length: 4026, dtype: object

In [38]:
df["prod_year"].value_counts().idxmax()

2008

In [39]:
df["prod_year"]==2012

0        False
1         True
2         True
3         True
4         True
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: prod_year, Length: 100000, dtype: bool

In [40]:
df[df["gearbox_is_manual"]==True]

,price,currency,brand,body,engine_vol,fuel,drive,power,gearbox_is_manual,prod_year,orig_country,mileage,color,title,offer_timestamp
0,32900,PLN,Škoda,Sedan,1598.0000,Diesel,Przód,115.0000,True,2017,Polska,175000.0000,Srebrny,Škoda RAPID,2021-02-28 12:53:00
1,32500,PLN,BMW,Kompakt,1598.0000,Diesel,Tył,116.0000,True,2012,NaN,228000.0000,Biały,BMW Seria 1 116d,2021-02-28 12:52:00
2,7900,PLN,Fiat,Auta małe,1242.0000,Benzyna,Przód,69.0000,True,2012,Polska,2610000.0000,Szary,Fiat Panda 1.2,2021-02-28 12:50:00
3,39990,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,Niemcy,138123.0000,Szary,Kia Sportage 1.7,2021-02-28 12:57:00
4,42900,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,NaN,175962.0000,Biały,Kia Sportage,2021-02-28 12:50:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,59900,PLN,Škoda,Sedan,1395.0000,Benzyna,Przód,150.0000,True,2017,NaN,99300.0000,Czarny,Škoda Octavia 1.4,2021-04-21 22:25:00
99995,83990,PLN,Ford,Kombi,1499.0000,Diesel,Przód,120.0000,True,2020,NaN,5.0000,Srebrny,Ford Focus,2021-04-21 14:58:00
99996,7400,PLN,Audi,Kombi,1781.0000,Benzyna,Przód,125.0000,True,1999,Niemcy,259000.0000,Niebieski,Audi A4 Avant,2021-04-21 19:45:00
99998,69000,PLN,Peugeot,Auta małe,1199.0000,Benzyna,Przód,101.0000,True,2020,NaN,1000.0000,Biały,Peugeot 208 PureTech,2021-04-21 13:42:00
99999,18000,PLN,Volkswagen,Sedan,1390.0000,Benzyna,Przód,140.0000,True,2007,Szwajcaria,165600.0000,Szary,Volkswagen Touran 1.4,2021-04-21 13:03:00

In [41]:
df[(df["fuel"]=="Diesel") & (df["mileage"] > 50000)]

,price,currency,brand,body,engine_vol,fuel,drive,power,gearbox_is_manual,prod_year,orig_country,mileage,color,title,offer_timestamp
0,32900,PLN,Škoda,Sedan,1598.0000,Diesel,Przód,115.0000,True,2017,Polska,175000.0000,Srebrny,Škoda RAPID,2021-02-28 12:53:00
1,32500,PLN,BMW,Kompakt,1598.0000,Diesel,Tył,116.0000,True,2012,NaN,228000.0000,Biały,BMW Seria 1 116d,2021-02-28 12:52:00
3,39990,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,Niemcy,138123.0000,Szary,Kia Sportage 1.7,2021-02-28 12:57:00
4,42900,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,NaN,175962.0000,Biały,Kia Sportage,2021-02-28 12:50:00
8,32999,PLN,Opel,Sedan,1956.0000,Diesel,Przód,163.0000,False,2015,NaN,100000.0000,Inny kolor,Opel Insignia 2.0,2021-02-28 12:53:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99988,13900,PLN,Opel,Kombi,1910.0000,Diesel,Przód,120.0000,True,2007,NaN,199000.0000,Niebieski,Opel Vectra ver-1-9-cdti-elegance,2021-04-21 15:22:00
99990,9956,PLN,Jaguar,Sedan,2720.0000,Diesel,Przód,150.0000,False,2008,NaN,110000.0000,Biały,Niski przebieg\n\n\n\n Jaguar XF,2021-04-21 19:42:00
99991,28900,PLN,BMW,SUV,1995.0000,Diesel,NaN,150.0000,True,2007,Francja,191870.0000,Szary,BMW X3 2.0d,2021-04-21 20:51:00
99994,66900,PLN,Audi,SUV,2967.0000,Diesel,NaN,240.0000,False,2011,Niemcy,228000.0000,Biały,Audi Q5 3.0,2021-04-21 16:25:00
99997,30000,PLN,BMW,Sedan,3901.0000,Diesel,Tył,245.0000,False,1999,NaN,307000.0000,Inny kolor,BMW Seria 7 740d,2021-04-21 15:53:00

In [42]:
df[(df["brand"] == "Toyota") | (df["drive"] == "Przód")]

,price,currency,brand,body,engine_vol,fuel,drive,power,gearbox_is_manual,prod_year,orig_country,mileage,color,title,offer_timestamp
0,32900,PLN,Škoda,Sedan,1598.0000,Diesel,Przód,115.0000,True,2017,Polska,175000.0000,Srebrny,Škoda RAPID,2021-02-28 12:53:00
2,7900,PLN,Fiat,Auta małe,1242.0000,Benzyna,Przód,69.0000,True,2012,Polska,2610000.0000,Szary,Fiat Panda 1.2,2021-02-28 12:50:00
3,39990,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,Niemcy,138123.0000,Szary,Kia Sportage 1.7,2021-02-28 12:57:00
4,42900,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,NaN,175962.0000,Biały,Kia Sportage,2021-02-28 12:50:00
6,106600,PLN,Renault,SUV,1332.0000,Benzyna,Przód,140.0000,False,2020,Polska,7.0000,Szary,Renault Kadjar 1.3,2021-02-28 12:56:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,59900,PLN,Škoda,Sedan,1395.0000,Benzyna,Przód,150.0000,True,2017,NaN,99300.0000,Czarny,Škoda Octavia 1.4,2021-04-21 22:25:00
99995,83990,PLN,Ford,Kombi,1499.0000,Diesel,Przód,120.0000,True,2020,NaN,5.0000,Srebrny,Ford Focus,2021-04-21 14:58:00
99996,7400,PLN,Audi,Kombi,1781.0000,Benzyna,Przód,125.0000,True,1999,Niemcy,259000.0000,Niebieski,Audi A4 Avant,2021-04-21 19:45:00
99998,69000,PLN,Peugeot,Auta małe,1199.0000,Benzyna,Przód,101.0000,True,2020,NaN,1000.0000,Biały,Peugeot 208 PureTech,2021-04-21 13:42:00
99999,18000,PLN,Volkswagen,Sedan,1390.0000,Benzyna,Przód,140.0000,True,2007,Szwajcaria,165600.0000,Szary,Volkswagen Touran 1.4,2021-04-21 13:03:00

In [43]:
df.rename({"brand": "marka", "currency": "waluta"}, axis=1)

,price,waluta,marka,body,engine_vol,fuel,drive,power,gearbox_is_manual,prod_year,orig_country,mileage,color,title,offer_timestamp
0,32900,PLN,Škoda,Sedan,1598.0000,Diesel,Przód,115.0000,True,2017,Polska,175000.0000,Srebrny,Škoda RAPID,2021-02-28 12:53:00
1,32500,PLN,BMW,Kompakt,1598.0000,Diesel,Tył,116.0000,True,2012,NaN,228000.0000,Biały,BMW Seria 1 116d,2021-02-28 12:52:00
2,7900,PLN,Fiat,Auta małe,1242.0000,Benzyna,Przód,69.0000,True,2012,Polska,2610000.0000,Szary,Fiat Panda 1.2,2021-02-28 12:50:00
3,39990,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,Niemcy,138123.0000,Szary,Kia Sportage 1.7,2021-02-28 12:57:00
4,42900,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,NaN,175962.0000,Biały,Kia Sportage,2021-02-28 12:50:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,83990,PLN,Ford,Kombi,1499.0000,Diesel,Przód,120.0000,True,2020,NaN,5.0000,Srebrny,Ford Focus,2021-04-21 14:58:00
99996,7400,PLN,Audi,Kombi,1781.0000,Benzyna,Przód,125.0000,True,1999,Niemcy,259000.0000,Niebieski,Audi A4 Avant,2021-04-21 19:45:00
99997,30000,PLN,BMW,Sedan,3901.0000,Diesel,Tył,245.0000,False,1999,NaN,307000.0000,Inny kolor,BMW Seria 7 740d,2021-04-21 15:53:00
99998,69000,PLN,Peugeot,Auta małe,1199.0000,Benzyna,Przód,101.0000,True,2020,NaN,1000.0000,Biały,Peugeot 208 PureTech,2021-04-21 13:42:00
99999,18000,PLN,Volkswagen,Sedan,1390.0000,Benzyna,Przód,140.0000,True,2007,Szwajcaria,165600.0000,Szary,Volkswagen Touran 1.4,2021-04-21 13:03:00

In [44]:
df.rename({"power": "horsepower"}, axis=1)

,price,currency,brand,body,engine_vol,fuel,drive,horsepower,gearbox_is_manual,prod_year,orig_country,mileage,color,title,offer_timestamp
0,32900,PLN,Škoda,Sedan,1598.0000,Diesel,Przód,115.0000,True,2017,Polska,175000.0000,Srebrny,Škoda RAPID,2021-02-28 12:53:00
1,32500,PLN,BMW,Kompakt,1598.0000,Diesel,Tył,116.0000,True,2012,NaN,228000.0000,Biały,BMW Seria 1 116d,2021-02-28 12:52:00
2,7900,PLN,Fiat,Auta małe,1242.0000,Benzyna,Przód,69.0000,True,2012,Polska,2610000.0000,Szary,Fiat Panda 1.2,2021-02-28 12:50:00
3,39990,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,Niemcy,138123.0000,Szary,Kia Sportage 1.7,2021-02-28 12:57:00
4,42900,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,NaN,175962.0000,Biały,Kia Sportage,2021-02-28 12:50:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,83990,PLN,Ford,Kombi,1499.0000,Diesel,Przód,120.0000,True,2020,NaN,5.0000,Srebrny,Ford Focus,2021-04-21 14:58:00
99996,7400,PLN,Audi,Kombi,1781.0000,Benzyna,Przód,125.0000,True,1999,Niemcy,259000.0000,Niebieski,Audi A4 Avant,2021-04-21 19:45:00
99997,30000,PLN,BMW,Sedan,3901.0000,Diesel,Tył,245.0000,False,1999,NaN,307000.0000,Inny kolor,BMW Seria 7 740d,2021-04-21 15:53:00
99998,69000,PLN,Peugeot,Auta małe,1199.0000,Benzyna,Przód,101.0000,True,2020,NaN,1000.0000,Biały,Peugeot 208 PureTech,2021-04-21 13:42:00
99999,18000,PLN,Volkswagen,Sedan,1390.0000,Benzyna,Przód,140.0000,True,2007,Szwajcaria,165600.0000,Szary,Volkswagen Touran 1.4,2021-04-21 13:03:00

In [45]:
df["gearbox_is_manual"].value_counts()

gearbox_is_manual
True     72953
False    26440
Name: count, dtype: int64

In [46]:
for column in df.columns:
    if len(column) > 7:
        df.drop(column, axis=1, inplace=True)

In [47]:
df.columns

Index(['price', 'brand', 'body', 'fuel', 'drive', 'power', 'mileage', 'color',
       'title'],
      dtype='object')

In [49]:
for column in df.columns:
    print(df[column].value_counts(dropna=False), "\n")

price
19900    1301
29900    1066
15900    1064
14900    1029
18900    1014
         ...
40836       1
93600       1
27921       1
70699       1
9956        1
Name: count, Length: 4763, dtype: int64

brand
Volkswagen    9097
Opel          9018
Ford          8307
Audi          7206
BMW           6709
              ...
Baic             1
Shuanghuan       1
Mercury          1
Talbot           1
Tarpan           1
Name: count, Length: 90, dtype: int64

body
Kombi            19950
SUV              17456
Kompakt          16997
Sedan            14189
Auta miejskie    13674
Minivan          11420
Auta małe         3098
Coupe             2285
Kabriolet          930
Pick-up              1
Name: count, dtype: int64

fuel
Benzyna        47666
Diesel         44979
Benzyna+LPG     5600
Hybryda         1502
Elektryczny      208
Benzyna+CNG       45
Name: count, dtype: int64

drive
Przód          72478
brak_danych    19919
Tył             7603
Name: count, dtype: int64

power
150.0000    7317
140.0000    6319
110.0000    3973
90.0000     3836
105.0000    3815
            ...
368.0000       1
463.0000       1
451.0000       1
464.0000       1
357.0000       1
Name: count, Length: 423, dtype: int64

mileage
1.0000         2013
5.0000         1163
180000.0000     624
220000.0000     617
170000.0000     600
               ...
288269.0000       1
108207.0000       1
252281.0000       1
20756.0000        1
191870.0000       1
Name: count, Length: 29387, dtype: int64

color
Czarny        24926
Srebrny       15744
Szary         14966
Biały         13081
Niebieski      9829
Inny kolor     7301
Czerwony       4147
Brązowy        2920
Bordowy        1796
Zielony        1683
Złoty          1439
Beżowy         1397
Żółty           391
Fioletowy       380
Name: count, dtype: int64

title
Audi A4 Avant                                         973
Opel Astra                                            882
Ford Mondeo 2.0                                       802
Volkswagen Passat 2.0                                 794
Opel Insignia 2.0                                     760
                                                     ...
Niski przebieg\n\n\n\n            Toyota Prius 1.5      1
Audi A7 2.8                                             1
Volkswagen Polo II                                      1
Mitsubishi Outlander iii-2012                           1
Niski przebieg\n\n\n\n            Jaguar XF             1
Name: count, Length: 6166, dtype: int64

In [50]:
df = pd.read_csv("cars.csv")

In [51]:
df = df.sort_values(["power", "mileage"], ascending=[False, False])
df.head()

,price,currency,brand,body,engine_vol,fuel,drive,power,gearbox_is_manual,prod_year,orig_country,mileage,color,title,offer_timestamp
60506,18000,PLN,Pontiac,Coupe,4300.0000,Benzyna,NaN,1203.0000,False,1981,NaN,130.0000,Zielony,Pontiac Grand-Prix,2021-04-02 20:12:00
28094,60000,PLN,Jaguar,Kompakt,5300.0000,Benzyna,NaN,1111.0000,False,1978,NaN,123456.0000,Czerwony,Jaguar XJ,2021-03-14 17:27:00
52207,86000,PLN,Mercedes-Benz,Kabriolet,3500.0000,Benzyna,NaN,1111.0000,False,1972,NaN,93811.0000,Brązowy,Mercedes-Benz,2021-03-28 16:38:00
9534,11500,PLN,Chevrolet,Kompakt,1800.0000,Benzyna,NaN,1111.0000,False,2017,NaN,43000.0000,Czerwony,Chevrolet Aveo,2021-03-05 20:07:00
51859,95000,PLN,Mercedes-Benz,Kabriolet,3800.0000,Benzyna,NaN,1111.0000,False,1985,NaN,27011.0000,Szary,Mercedes-Benz,2021-03-28 16:16:00

In [52]:
df.sort_index(ascending=False)

,price,currency,brand,body,engine_vol,fuel,drive,power,gearbox_is_manual,prod_year,orig_country,mileage,color,title,offer_timestamp
99999,18000,PLN,Volkswagen,Sedan,1390.0000,Benzyna,Przód,140.0000,True,2007,Szwajcaria,165600.0000,Szary,Volkswagen Touran 1.4,2021-04-21 13:03:00
99998,69000,PLN,Peugeot,Auta małe,1199.0000,Benzyna,Przód,101.0000,True,2020,NaN,1000.0000,Biały,Peugeot 208 PureTech,2021-04-21 13:42:00
99997,30000,PLN,BMW,Sedan,3901.0000,Diesel,Tył,245.0000,False,1999,NaN,307000.0000,Inny kolor,BMW Seria 7 740d,2021-04-21 15:53:00
99996,7400,PLN,Audi,Kombi,1781.0000,Benzyna,Przód,125.0000,True,1999,Niemcy,259000.0000,Niebieski,Audi A4 Avant,2021-04-21 19:45:00
99995,83990,PLN,Ford,Kombi,1499.0000,Diesel,Przód,120.0000,True,2020,NaN,5.0000,Srebrny,Ford Focus,2021-04-21 14:58:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,42900,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,NaN,175962.0000,Biały,Kia Sportage,2021-02-28 12:50:00
3,39990,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,Niemcy,138123.0000,Szary,Kia Sportage 1.7,2021-02-28 12:57:00
2,7900,PLN,Fiat,Auta małe,1242.0000,Benzyna,Przód,69.0000,True,2012,Polska,2610000.0000,Szary,Fiat Panda 1.2,2021-02-28 12:50:00
1,32500,PLN,BMW,Kompakt,1598.0000,Diesel,Tył,116.0000,True,2012,NaN,228000.0000,Biały,BMW Seria 1 116d,2021-02-28 12:52:00
0,32900,PLN,Škoda,Sedan,1598.0000,Diesel,Przód,115.0000,True,2017,Polska,175000.0000,Srebrny,Škoda RAPID,2021-02-28 12:53:00

In [53]:
df[["power", "mileage"]]

          power     mileage
60506 1203.0000    130.0000
28094 1111.0000 123456.0000
52207 1111.0000  93811.0000
9534  1111.0000  43000.0000
51859 1111.0000  27011.0000
...         ...         ...
49068       NaN      5.0000
70121       NaN      5.0000
83892       NaN      5.0000
91415       NaN         NaN
98611       NaN         NaN

[100000 rows x 2 columns]

In [54]:
df = pd.read_csv("cars.csv")

In [56]:
from datetime import datetime

In [58]:
current_year = datetime.now().year
current_year

2025

In [59]:
current_year - df["prod_year"]

0         8
1        13
2        13
3        13
4        13
         ..
99995     5
99996    26
99997    26
99998     5
99999    18
Name: prod_year, Length: 100000, dtype: int64

In [60]:
df["age"] = current_year - df["prod_year"]

In [61]:
df["age"]

0         8
1        13
2        13
3        13
4        13
         ..
99995     5
99996    26
99997    26
99998     5
99999    18
Name: age, Length: 100000, dtype: int64

In [64]:
df["km_per_year"] = df["mileage"] / df["age"]
df.head()

,price,currency,brand,body,engine_vol,fuel,drive,power,gearbox_is_manual,prod_year,orig_country,mileage,color,title,offer_timestamp,age,km_per_year
0,32900,PLN,Škoda,Sedan,1598.0000,Diesel,Przód,115.0000,True,2017,Polska,175000.0000,Srebrny,Škoda RAPID,2021-02-28 12:53:00,8,21875.0000
1,32500,PLN,BMW,Kompakt,1598.0000,Diesel,Tył,116.0000,True,2012,NaN,228000.0000,Biały,BMW Seria 1 116d,2021-02-28 12:52:00,13,17538.4615
2,7900,PLN,Fiat,Auta małe,1242.0000,Benzyna,Przód,69.0000,True,2012,Polska,2610000.0000,Szary,Fiat Panda 1.2,2021-02-28 12:50:00,13,200769.2308
3,39990,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,Niemcy,138123.0000,Szary,Kia Sportage 1.7,2021-02-28 12:57:00,13,10624.8462
4,42900,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,NaN,175962.0000,Biały,Kia Sportage,2021-02-28 12:50:00,13,13535.5385

In [65]:
df["new_column"] = pd.Series()
df["new_column_zeros"] = pd.Series([0]*len(df))

In [66]:
df.head()

,price,currency,brand,body,engine_vol,fuel,drive,power,gearbox_is_manual,prod_year,orig_country,mileage,color,title,offer_timestamp,age,km_per_year,new_column,new_column_zeros
0,32900,PLN,Škoda,Sedan,1598.0000,Diesel,Przód,115.0000,True,2017,Polska,175000.0000,Srebrny,Škoda RAPID,2021-02-28 12:53:00,8,21875.0000,NaN,0
1,32500,PLN,BMW,Kompakt,1598.0000,Diesel,Tył,116.0000,True,2012,NaN,228000.0000,Biały,BMW Seria 1 116d,2021-02-28 12:52:00,13,17538.4615,NaN,0
2,7900,PLN,Fiat,Auta małe,1242.0000,Benzyna,Przód,69.0000,True,2012,Polska,2610000.0000,Szary,Fiat Panda 1.2,2021-02-28 12:50:00,13,200769.2308,NaN,0
3,39990,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,Niemcy,138123.0000,Szary,Kia Sportage 1.7,2021-02-28 12:57:00,13,10624.8462,NaN,0
4,42900,PLN,Kia,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,NaN,175962.0000,Biały,Kia Sportage,2021-02-28 12:50:00,13,13535.5385,NaN,0

In [67]:
df.insert(3, "price_twice", 2*df["price"])
df.head()

,price,currency,brand,price_twice,body,engine_vol,fuel,drive,power,gearbox_is_manual,prod_year,orig_country,mileage,color,title,offer_timestamp,age,km_per_year,new_column,new_column_zeros
0,32900,PLN,Škoda,65800,Sedan,1598.0000,Diesel,Przód,115.0000,True,2017,Polska,175000.0000,Srebrny,Škoda RAPID,2021-02-28 12:53:00,8,21875.0000,NaN,0
1,32500,PLN,BMW,65000,Kompakt,1598.0000,Diesel,Tył,116.0000,True,2012,NaN,228000.0000,Biały,BMW Seria 1 116d,2021-02-28 12:52:00,13,17538.4615,NaN,0
2,7900,PLN,Fiat,15800,Auta małe,1242.0000,Benzyna,Przód,69.0000,True,2012,Polska,2610000.0000,Szary,Fiat Panda 1.2,2021-02-28 12:50:00,13,200769.2308,NaN,0
3,39990,PLN,Kia,79980,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,Niemcy,138123.0000,Szary,Kia Sportage 1.7,2021-02-28 12:57:00,13,10624.8462,NaN,0
4,42900,PLN,Kia,85800,SUV,1685.0000,Diesel,Przód,115.0000,True,2012,NaN,175962.0000,Biały,Kia Sportage,2021-02-28 12:50:00,13,13535.5385,NaN,0

In [70]:
df["brand_and_body"] = df["brand"] + "_" + df["body"]
df.head()

,price,currency,brand,price_twice,body,engine_vol,fuel,drive,power,gearbox_is_manual,...,orig_country,mileage,color,title,offer_timestamp,age,km_per_year,new_column,new_column_zeros,brand_and_body
0,32900,PLN,Škoda,65800,Sedan,1598.0000,Diesel,Przód,115.0000,True,...,Polska,175000.0000,Srebrny,Škoda RAPID,2021-02-28 12:53:00,8,21875.0000,NaN,0,Škoda_Sedan
1,32500,PLN,BMW,65000,Kompakt,1598.0000,Diesel,Tył,116.0000,True,...,NaN,228000.0000,Biały,BMW Seria 1 116d,2021-02-28 12:52:00,13,17538.4615,NaN,0,BMW_Kompakt
2,7900,PLN,Fiat,15800,Auta małe,1242.0000,Benzyna,Przód,69.0000,True,...,Polska,2610000.0000,Szary,Fiat Panda 1.2,2021-02-28 12:50:00,13,200769.2308,NaN,0,Fiat_Auta małe
3,39990,PLN,Kia,79980,SUV,1685.0000,Diesel,Przód,115.0000,True,...,Niemcy,138123.0000,Szary,Kia Sportage 1.7,2021-02-28 12:57:00,13,10624.8462,NaN,0,Kia_SUV
4,42900,PLN,Kia,85800,SUV,1685.0000,Diesel,Przód,115.0000,True,...,NaN,175962.0000,Biały,Kia Sportage,2021-02-28 12:50:00,13,13535.5385,NaN,0,Kia_SUV

In [72]:
df["power"].mean()

136.59157538659792

In [75]:
import numpy as np
np.sqrt(df["price"])

0       181.3836
1       180.2776
2        88.8819
3       199.9750
4       207.1232
          ...
99995   289.8103
99996    86.0233
99997   173.2051
99998   262.6785
99999   134.1641
Name: price, Length: 100000, dtype: float64

In [76]:
np.exp(df["age"])

0               2980.9580
1             442413.3920
2             442413.3920
3             442413.3920
4             442413.3920
               ...
99995            148.4132
99996   195729609428.8388
99997   195729609428.8388
99998            148.4132
99999       65659969.1373
Name: age, Length: 100000, dtype: float64

In [77]:
df["age"]

0         8
1        13
2        13
3        13
4        13
         ..
99995     5
99996    26
99997    26
99998     5
99999    18
Name: age, Length: 100000, dtype: int64

In [78]:
np.exp(8)

2980.9579870417283

In [79]:
df["prod_year"]

0        2017
1        2012
2        2012
3        2012
4        2012
         ...
99995    2020
99996    1999
99997    1999
99998    2020
99999    2007
Name: prod_year, Length: 100000, dtype: int64

In [80]:
df["prod_year"].apply(np.sqrt)

0       44.9110
1       44.8553
2       44.8553
3       44.8553
4       44.8553
          ...
99995   44.9444
99996   44.7102
99997   44.7102
99998   44.9444
99999   44.7996
Name: prod_year, Length: 100000, dtype: float64

In [82]:
df["prod_year"].head()

0    2017
1    2012
2    2012
3    2012
4    2012
Name: prod_year, dtype: int64

In [90]:
def check_if_is_new(x):
    return datetime.now().year == x

In [93]:
check_if_is_new(2024)

False

In [95]:
df["prod_year"].apply(check_if_is_new)

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: prod_year, Length: 100000, dtype: bool

In [96]:
list(map(lambda x: (2*x + 1)%3, (1, 3, 5, 23, 123)))

[0, 1, 2, 2, 1]

In [97]:
df["is_new"] = df ["prod_year"].apply(lambda x: datetime.now().year == x)
df[["is_new", "prod_year"]].head(15)

    is_new  prod_year
0    False       2017
1    False       2012
2    False       2012
3    False       2012
4    False       2012
5    False       2005
6    False       2020
7    False       2016
8    False       2015
9    False       2012
10   False       2012
11   False       2008
12   False       2012
13   False       2017
14   False       2010

In [100]:
def check_if_is_new_advanced(row):
    return int(row["offer_timestamp"][:4]) == row["prod_year"]

In [107]:
df.apply(check_if_is_new_advanced, axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Length: 100000, dtype: bool

In [103]:
df.apply(check_if_is_new_advanced, axis=1).value_counts()

False    97033
True      2967
Name: count, dtype: int64

In [111]:
pd.Series([1.14242, 4.6254, 2, 2.54343]).apply(round, args=(2,))

0   1.1400
1   4.6300
2   2.0000
3   2.5400
dtype: float64

In [113]:
df["brand_short"] = df["brand"].apply(lambda x: x[0])
df

,price,currency,brand,price_twice,body,engine_vol,fuel,drive,power,gearbox_is_manual,...,color,title,offer_timestamp,age,km_per_year,new_column,new_column_zeros,brand_and_body,is_new,brand_short
0,32900,PLN,Škoda,65800,Sedan,1598.0000,Diesel,Przód,115.0000,True,...,Srebrny,Škoda RAPID,2021-02-28 12:53:00,8,21875.0000,NaN,0,Škoda_Sedan,False,Š
1,32500,PLN,BMW,65000,Kompakt,1598.0000,Diesel,Tył,116.0000,True,...,Biały,BMW Seria 1 116d,2021-02-28 12:52:00,13,17538.4615,NaN,0,BMW_Kompakt,False,B
2,7900,PLN,Fiat,15800,Auta małe,1242.0000,Benzyna,Przód,69.0000,True,...,Szary,Fiat Panda 1.2,2021-02-28 12:50:00,13,200769.2308,NaN,0,Fiat_Auta małe,False,F
3,39990,PLN,Kia,79980,SUV,1685.0000,Diesel,Przód,115.0000,True,...,Szary,Kia Sportage 1.7,2021-02-28 12:57:00,13,10624.8462,NaN,0,Kia_SUV,False,K
4,42900,PLN,Kia,85800,SUV,1685.0000,Diesel,Przód,115.0000,True,...,Biały,Kia Sportage,2021-02-28 12:50:00,13,13535.5385,NaN,0,Kia_SUV,False,K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,83990,PLN,Ford,167980,Kombi,1499.0000,Diesel,Przód,120.0000,True,...,Srebrny,Ford Focus,2021-04-21 14:58:00,5,1.0000,NaN,0,Ford_Kombi,False,F
99996,7400,PLN,Audi,14800,Kombi,1781.0000,Benzyna,Przód,125.0000,True,...,Niebieski,Audi A4 Avant,2021-04-21 19:45:00,26,9961.5385,NaN,0,Audi_Kombi,False,A
99997,30000,PLN,BMW,60000,Sedan,3901.0000,Diesel,Tył,245.0000,False,...,Inny kolor,BMW Seria 7 740d,2021-04-21 15:53:00,26,11807.6923,NaN,0,BMW_Sedan,False,B
99998,69000,PLN,Peugeot,138000,Auta małe,1199.0000,Benzyna,Przód,101.0000,True,...,Biały,Peugeot 208 PureTech,2021-04-21 13:42:00,5,200.0000,NaN,0,Peugeot_Auta małe,False,P
99999,18000,PLN,Volkswagen,36000,Sedan,1390.0000,Benzyna,Przód,140.0000,True,...,Szary,Volkswagen Touran 1.4,2021-04-21 13:03:00,18,9200.0000,NaN,0,Volkswagen_Sedan,False,V

In [114]:
df["power_twice"] = df["power"].apply(lambda x: 2*x)
df

,price,currency,brand,price_twice,body,engine_vol,fuel,drive,power,gearbox_is_manual,...,title,offer_timestamp,age,km_per_year,new_column,new_column_zeros,brand_and_body,is_new,brand_short,power_twice
0,32900,PLN,Škoda,65800,Sedan,1598.0000,Diesel,Przód,115.0000,True,...,Škoda RAPID,2021-02-28 12:53:00,8,21875.0000,NaN,0,Škoda_Sedan,False,Š,230.0000
1,32500,PLN,BMW,65000,Kompakt,1598.0000,Diesel,Tył,116.0000,True,...,BMW Seria 1 116d,2021-02-28 12:52:00,13,17538.4615,NaN,0,BMW_Kompakt,False,B,232.0000
2,7900,PLN,Fiat,15800,Auta małe,1242.0000,Benzyna,Przód,69.0000,True,...,Fiat Panda 1.2,2021-02-28 12:50:00,13,200769.2308,NaN,0,Fiat_Auta małe,False,F,138.0000
3,39990,PLN,Kia,79980,SUV,1685.0000,Diesel,Przód,115.0000,True,...,Kia Sportage 1.7,2021-02-28 12:57:00,13,10624.8462,NaN,0,Kia_SUV,False,K,230.0000
4,42900,PLN,Kia,85800,SUV,1685.0000,Diesel,Przód,115.0000,True,...,Kia Sportage,2021-02-28 12:50:00,13,13535.5385,NaN,0,Kia_SUV,False,K,230.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,83990,PLN,Ford,167980,Kombi,1499.0000,Diesel,Przód,120.0000,True,...,Ford Focus,2021-04-21 14:58:00,5,1.0000,NaN,0,Ford_Kombi,False,F,240.0000
99996,7400,PLN,Audi,14800,Kombi,1781.0000,Benzyna,Przód,125.0000,True,...,Audi A4 Avant,2021-04-21 19:45:00,26,9961.5385,NaN,0,Audi_Kombi,False,A,250.0000
99997,30000,PLN,BMW,60000,Sedan,3901.0000,Diesel,Tył,245.0000,False,...,BMW Seria 7 740d,2021-04-21 15:53:00,26,11807.6923,NaN,0,BMW_Sedan,False,B,490.0000
99998,69000,PLN,Peugeot,138000,Auta małe,1199.0000,Benzyna,Przód,101.0000,True,...,Peugeot 208 PureTech,2021-04-21 13:42:00,5,200.0000,NaN,0,Peugeot_Auta małe,False,P,202.0000
99999,18000,PLN,Volkswagen,36000,Sedan,1390.0000,Benzyna,Przód,140.0000,True,...,Volkswagen Touran 1.4,2021-04-21 13:03:00,18,9200.0000,NaN,0,Volkswagen_Sedan,False,V,280.0000

In [117]:
df.insert(1, "prod_year_after_2010", df["prod_year"].apply(lambda x: x > 2010))
df

,price,prod_year_after_2010,currency,brand,price_twice,body,engine_vol,fuel,drive,power,...,title,offer_timestamp,age,km_per_year,new_column,new_column_zeros,brand_and_body,is_new,brand_short,power_twice
0,32900,True,PLN,Škoda,65800,Sedan,1598.0000,Diesel,Przód,115.0000,...,Škoda RAPID,2021-02-28 12:53:00,8,21875.0000,NaN,0,Škoda_Sedan,False,Š,230.0000
1,32500,True,PLN,BMW,65000,Kompakt,1598.0000,Diesel,Tył,116.0000,...,BMW Seria 1 116d,2021-02-28 12:52:00,13,17538.4615,NaN,0,BMW_Kompakt,False,B,232.0000
2,7900,True,PLN,Fiat,15800,Auta małe,1242.0000,Benzyna,Przód,69.0000,...,Fiat Panda 1.2,2021-02-28 12:50:00,13,200769.2308,NaN,0,Fiat_Auta małe,False,F,138.0000
3,39990,True,PLN,Kia,79980,SUV,1685.0000,Diesel,Przód,115.0000,...,Kia Sportage 1.7,2021-02-28 12:57:00,13,10624.8462,NaN,0,Kia_SUV,False,K,230.0000
4,42900,True,PLN,Kia,85800,SUV,1685.0000,Diesel,Przód,115.0000,...,Kia Sportage,2021-02-28 12:50:00,13,13535.5385,NaN,0,Kia_SUV,False,K,230.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,83990,True,PLN,Ford,167980,Kombi,1499.0000,Diesel,Przód,120.0000,...,Ford Focus,2021-04-21 14:58:00,5,1.0000,NaN,0,Ford_Kombi,False,F,240.0000
99996,7400,False,PLN,Audi,14800,Kombi,1781.0000,Benzyna,Przód,125.0000,...,Audi A4 Avant,2021-04-21 19:45:00,26,9961.5385,NaN,0,Audi_Kombi,False,A,250.0000
99997,30000,False,PLN,BMW,60000,Sedan,3901.0000,Diesel,Tył,245.0000,...,BMW Seria 7 740d,2021-04-21 15:53:00,26,11807.6923,NaN,0,BMW_Sedan,False,B,490.0000
99998,69000,True,PLN,Peugeot,138000,Auta małe,1199.0000,Benzyna,Przód,101.0000,...,Peugeot 208 PureTech,2021-04-21 13:42:00,5,200.0000,NaN,0,Peugeot_Auta małe,False,P,202.0000
99999,18000,False,PLN,Volkswagen,36000,Sedan,1390.0000,Benzyna,Przód,140.0000,...,Volkswagen Touran 1.4,2021-04-21 13:03:00,18,9200.0000,NaN,0,Volkswagen_Sedan,False,V,280.0000

In [118]:
df.groupby("fuel").count()

,price,prod_year_after_2010,currency,brand,price_twice,body,engine_vol,drive,power,gearbox_is_manual,...,title,offer_timestamp,age,km_per_year,new_column,new_column_zeros,brand_and_body,is_new,brand_short,power_twice
fuel,,,,,,,,,,,,,,,,,,,,,
Benzyna,47666,47666,47666,47666,47666,47666,47463,40117,47384,47423,...,47666,47666,47666,47513,0,47666,47666,47666,47666,47384
Benzyna+CNG,45,45,45,45,45,45,45,44,45,45,...,45,45,45,45,0,45,45,45,45,45
Benzyna+LPG,5600,5600,5600,5600,5600,5600,5569,4308,5552,5556,...,5600,5600,5600,5600,0,5600,5600,5600,5600,5552
Diesel,44979,44979,44979,44979,44979,44979,44732,34216,44651,44670,...,44979,44979,44979,44968,0,44979,44979,44979,44979,44651
Elektryczny,208,208,208,208,208,208,0,182,207,208,...,208,208,208,205,0,208,208,208,208,207
Hybryda,1502,1502,1502,1502,1502,1502,1492,1214,1489,1491,...,1502,1502,1502,1497,0,1502,1502,1502,1502,1489

In [119]:
df.groupby("fuel").agg("std", numeric_only=True)

,price,prod_year_after_2010,price_twice,engine_vol,power,prod_year,mileage,age,km_per_year,new_column_zeros,is_new,power_twice
fuel,,,,,,,,,,,,
Benzyna,146120.5485,0.4994,292241.0971,684.7068,63.9360,6.5910,132464.8910,6.5910,6787.9915,0.0000,0.0000,127.8719
Benzyna+CNG,12330.0121,0.4954,24660.0242,367.4132,26.7590,3.7197,68622.7326,3.7197,5206.6557,0.0000,0.0000,53.5180
Benzyna+LPG,17200.9229,0.4540,34401.8458,816.6210,59.6960,5.8163,111542.2615,5.8163,5574.7899,0.0000,0.0000,119.3921
Diesel,141641.1321,0.4986,283282.2642,411.6051,42.4212,4.6987,589858.0705,4.6987,97162.0881,0.0000,0.0000,84.8423
Elektryczny,767076.9245,0.0693,1534153.8491,NaN,87.8485,2.5876,35206.0184,2.5876,3448.7023,0.0000,0.0000,175.6970
Hybryda,33448.9186,0.3052,66897.8372,513.3607,50.6866,3.9924,84040.8991,3.9924,7025.5765,0.0000,0.0000,101.3731

In [120]:
from datetime import datetime

In [121]:
datetime.now()

datetime.datetime(2025, 8, 10, 13, 53, 30, 448732)