In [1]:
import pandas as pd

df = pd.read_csv("cars.csv")

In [2]:
df.head(3)

,price,currency,brand,body,engine_vol,fuel,drive,power,gearbox_is_manual,prod_year,orig_country,mileage,color,title,offer_timestamp
0,32900,PLN,Škoda,Sedan,1598.0,Diesel,Przód,115.0,True,2017,Polska,175000.0,Srebrny,Škoda RAPID,2021-02-28 12:53:00
1,32500,PLN,BMW,Kompakt,1598.0,Diesel,Tył,116.0,True,2012,NaN,228000.0,Biały,BMW Seria 1 116d,2021-02-28 12:52:00
2,7900,PLN,Fiat,Auta małe,1242.0,Benzyna,Przód,69.0,True,2012,Polska,2610000.0,Szary,Fiat Panda 1.2,2021-02-28 12:50:00

In [3]:
pd.__version__

'2.0.3'

In [4]:
df.shape

(100000, 15)

In [5]:
len(df)

100000

In [6]:
df.columns

Index(['price', 'currency', 'brand', 'body', 'engine_vol', 'fuel', 'drive',
       'power', 'gearbox_is_manual', 'prod_year', 'orig_country', 'mileage',
       'color', 'title', 'offer_timestamp'],
      dtype='object')

In [7]:
df.index

RangeIndex(start=0, stop=100000, step=1)

In [8]:
df.dtypes

price                  int64
currency              object
brand                 object
body                  object
engine_vol           float64
fuel                  object
drive                 object
power                float64
gearbox_is_manual     object
prod_year              int64
orig_country          object
mileage              float64
color                 object
title                 object
offer_timestamp       object
dtype: object

In [9]:
df.isna().sum()

price                    0
currency                 0
brand                    0
body                     0
engine_vol             699
fuel                     0
drive                19919
power                  672
gearbox_is_manual      607
prod_year                0
orig_country         44509
mileage                172
color                    0
title                    0
offer_timestamp          0
dtype: int64

In [13]:
pd.isnull(None)

True

In [16]:
df.describe()

              price    engine_vol         power      prod_year       mileage
count  1.000000e+05  99301.000000  99328.000000  100000.000000  9.982800e+04
mean   3.949909e+04   1802.313904    136.591575    2010.935530  1.594466e+05
std    1.432028e+05    598.744998     54.965202       5.820637  4.091146e+05
min    5.850000e+02    400.000000      1.000000    1900.000000  1.000000e+00
25%    1.540000e+04   1461.000000    102.000000    2007.000000  9.346000e+04
50%    2.690000e+04   1686.000000    129.000000    2011.000000  1.600045e+05
75%    4.950000e+04   1995.000000    150.000000    2015.000000  2.150770e+05
max    1.432083e+07   8200.000000   1203.000000    2021.000000  1.234568e+08

In [18]:
df.memory_usage()

Index                   128
price                800000
currency             800000
brand                800000
body                 800000
engine_vol           800000
fuel                 800000
drive                800000
power                800000
gearbox_is_manual    800000
prod_year            800000
orig_country         800000
mileage              800000
color                800000
title                800000
offer_timestamp      800000
dtype: int64

In [19]:
df.memory_usage().sum()

12000128

In [29]:
pd.set_option("display.float_format", "{:.4f}".format)

In [30]:
df.describe()

              price  engine_vol      power   prod_year        mileage
count   100000.0000  99301.0000 99328.0000 100000.0000     99828.0000
mean     39499.0895   1802.3139   136.5916   2010.9355    159446.6398
std     143202.8489    598.7450    54.9652      5.8206    409114.6012
min        585.0000    400.0000     1.0000   1900.0000         1.0000
25%      15400.0000   1461.0000   102.0000   2007.0000     93460.0000
50%      26900.0000   1686.0000   129.0000   2011.0000    160004.5000
75%      49500.0000   1995.0000   150.0000   2015.0000    215077.0000
max   14320827.0000   8200.0000  1203.0000   2021.0000 123456789.0000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   price              100000 non-null  int64
 1   currency           100000 non-null  object
 2   brand              100000 non-null  object
 3   body               100000 non-null  object
 4   engine_vol         99301 non-null   float64
 5   fuel               100000 non-null  object
 6   drive              80081 non-null   object
 7   power              99328 non-null   float64
 8   gearbox_is_manual  99393 non-null   object
 9   prod_year          100000 non-null  int64
 10  orig_country       55491 non-null   object
 11  mileage            99828 non-null   float64
 12  color              100000 non-null  object
 13  title              100000 non-null  object
 14  offer_timestamp    100000 non-null  object
dtypes: float64(3), int64(2), object(10)
memory usage: 11.4+ MB

In [54]:
df.iloc[71145]

price                                585
currency                             PLN
brand                               Fiat
body                             Kompakt
engine_vol                      999.0000
fuel                             Benzyna
drive                              Przód
power                           100.0000
gearbox_is_manual                   True
prod_year                           2021
orig_country                      Polska
mileage                           1.0000
color                            Srebrny
title                      Fiat Tipo 1.0
offer_timestamp      2021-04-07 14:24:00
Name: 71145, dtype: object

In [38]:
df.columns

Index(['price', 'currency', 'brand', 'body', 'engine_vol', 'fuel', 'drive',
       'power', 'gearbox_is_manual', 'prod_year', 'orig_country', 'mileage',
       'color', 'title', 'offer_timestamp'],
      dtype='object')

In [46]:
smaller_df = df[["fuel", "price", "mileage", "brand"]]
smaller_df["price"].idxmin()

71145

In [51]:
smaller_df.iloc[71145]

fuel       Benzyna
price          585
mileage     1.0000
brand         Fiat
Name: 71145, dtype: object

In [56]:
timestamps = df["offer_timestamp"]

In [57]:
timestamps

0        2021-02-28 12:53:00
1        2021-02-28 12:52:00
2        2021-02-28 12:50:00
3        2021-02-28 12:57:00
4        2021-02-28 12:50:00
                ...
99995    2021-04-21 14:58:00
99996    2021-04-21 19:45:00
99997    2021-04-21 15:53:00
99998    2021-04-21 13:42:00
99999    2021-04-21 13:03:00
Name: offer_timestamp, Length: 100000, dtype: object

In [73]:
sorted_smaller = list(smaller_df["price"])
type(sorted_smaller)

list

In [74]:
print(sorted_smaller.sort)

<built-in method sort of list object at 0x0000019B05BAD200>

In [88]:
sorted_smaller = zip(sorted_smaller)
sorted_smaller

In [82]:
df[["title", "offer_timestamp"]][6:12]

                    title      offer_timestamp
6      Renault Kadjar 1.3  2021-02-28 12:56:00
7        Dacia Dokker Van  2021-02-28 12:57:00
8       Opel Insignia 2.0  2021-02-28 12:53:00
9   Volkswagen Tiguan 2.0  2021-02-28 12:57:00
10      Opel Insignia 2.0  2021-02-28 12:56:00
11        Peugeot 407 2.0  2021-02-28 12:49:00

In [85]:
df.select_dtypes(object)

,currency,brand,body,fuel,drive,gearbox_is_manual,orig_country,color,title,offer_timestamp
0,PLN,Škoda,Sedan,Diesel,Przód,True,Polska,Srebrny,Škoda RAPID,2021-02-28 12:53:00
1,PLN,BMW,Kompakt,Diesel,Tył,True,NaN,Biały,BMW Seria 1 116d,2021-02-28 12:52:00
2,PLN,Fiat,Auta małe,Benzyna,Przód,True,Polska,Szary,Fiat Panda 1.2,2021-02-28 12:50:00
3,PLN,Kia,SUV,Diesel,Przód,True,Niemcy,Szary,Kia Sportage 1.7,2021-02-28 12:57:00
4,PLN,Kia,SUV,Diesel,Przód,True,NaN,Biały,Kia Sportage,2021-02-28 12:50:00
...,...,...,...,...,...,...,...,...,...,...
99995,PLN,Ford,Kombi,Diesel,Przód,True,NaN,Srebrny,Ford Focus,2021-04-21 14:58:00
99996,PLN,Audi,Kombi,Benzyna,Przód,True,Niemcy,Niebieski,Audi A4 Avant,2021-04-21 19:45:00
99997,PLN,BMW,Sedan,Diesel,Tył,False,NaN,Inny kolor,BMW Seria 7 740d,2021-04-21 15:53:00
99998,PLN,Peugeot,Auta małe,Benzyna,Przód,True,NaN,Biały,Peugeot 208 PureTech,2021-04-21 13:42:00
99999,PLN,Volkswagen,Sedan,Benzyna,Przód,True,Szwajcaria,Szary,Volkswagen Touran 1.4,2021-04-21 13:03:00